{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "My Account" %}{% endblock %}{% endblock %}
{% block heading %}{% autoescape off %}{% content_heading _("My Account") %}{% endautoescape %}{% endblock %}
{% block content %}

<div class="container-sm">
   <p class="h4 text-primary">{% trans "To edit your account information, proxy users, or account password, make changes in the fields below, then click Save." %}</p>

   <form autocomplete="off" id="edit_form" action="{% url "ui_account.edit" %}" method="post" class="" role="form">
      {% comment "nonfield_errors" %}form.non_field_errors not used here, and will be displayed in django.contrib.messages.error{% endcomment %}
      <h2 class="h3 text-primary">{% trans "Account Information" %}</h2>

      <div class="form-group row">
         <label for="account_username" class="col-sm-6 col-form-label text-primary">{% trans "Username" %}</label>
         <div class="col-sm-6 ">
            <input disabled="true" class="form-control" value="{{ username }}" />
         </div>
      </div>

      {% include "includes/_inlinetext.html" with field=form.primaryContactName reqd=True form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.primaryContactEmail reqd=True form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.primaryContactPhone reqd=True form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.secondaryContactName form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.secondaryContactEmail form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.secondaryContactPhone form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.accountDisplayName reqd=True form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.accountEmail reqd=True form_name="general__" %}

      {% if crossrefEmail %}
      <div class="form-group">
         <label for="" class="card-title text-primary">{% trans "Crossref Email" %}</label>
         <div class="form-group">
            {{ crossrefEmail }}
            <div class="fcontrol__caption">{% trans "NOTE: If you want to change this email address" %}
               , <a class="link__primary" href="/contact">{% trans "contact us" %}</a>.</div>
         </div>
      </div>
      {% endif %}

      {% comment "Proxy User" %}
      <div class="form-group row">
         <label for="account_username" class="col-sm-6 col-form-label text-primary">{% trans "Your Proxy Account(s)" %}</label>
         <div class="col-sm-6">
            <input disabled="true" class="form-control" value="{{ proxy_for|safe }}" />
            <div class="fcontrol__caption">{% trans "NOTE: These are identifier groups where you have been designated as proxy user." %}</div>
         </div>
      </div>
      {% if proxy_users_choose %}
      <div class="form-group row">
         <label for="{{ form.proxy_users_picked.id_for_label }}" class="col-sm-6 col-form-label text-primary">{{ form.proxy_users_picked.label }}</label>
         <div class="col-sm-6">
            <div class="">
               {{ form.proxy_users_picked|add_attributes:"fcontrol__textarea-inline-noborder"}}
               {% if form.proxy_users_picked.errors %}
               <span class="fcontrol__invalid-flag">
                  {% for error in form.proxy_users_picked.errors %}
                  {{ error|escape }}
                  {% endfor %}
               </span>
               {% endif %}
               <button class="btn btn-warning" data-toggle="modal" data-target="#proxyModal" type="button">{% trans "Select Proxy User(s)" %}</button>
            </div>
            <div class="fcontrol__caption-tight">NOTE: These are users that you have designated as proxy users for your identifiers. Currently users cannot be deleted from this list. Please <a class="link__primary" href="/contact">contact us</a> if
               you
               need to delete a proxy user.</div>
         </div>
         {% include "account/_proxyModal.html" %}
      </div>
      {% endif %}
      {% endcomment %}

      <h2 class="h3 text-primary">{% trans "Change Password" %}</h2>

      {% include "includes/_inlinetext.html" with field=form.pwcurrent form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.pwnew form_name="general__" %}
      {% include "includes/_inlinetext.html" with field=form.pwconfirm form_name="general__" %}

      <div class="row my-2">
         <div class="col-6"></div>
         <div class="col-6">
            <button id="create__button" class="btn btn-primary float-right">{% trans "Create" %}</button>
         </div>
      </div>
   </form>
</div>
{% include "info/popup_help.html" %}
<script type="text/javascript" src="/static/javascripts/help_box_.js"></script>

{% endblock %}
