{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "Login" %}{% endblock %}{% endblock %}
{% block heading %}{% autoescape off %}{% content_heading _("Login") %}{% endautoescape %}{% endblock %}
{% block content %}
<p><br /></p>
<form method="post" action="/login" class="general__form" role="form">
   <input type="hidden" name="next" value="{{ next }}" />
   <div class="form-group">
      <label for="username" class="form-label">{% trans "Username" %}</label>
      <input class="form-control" type="text" id="username" name="username" value="{{ username }}" />
      <span class="fcontrol__invalid-flag">This field is required</span>
   </div>
   <div class="form-group">
      <label for="password" class="form-label">{% trans "Password" %}</label>
      <input class="form-control" type="password" id="password" name="password" value="{{ password }}" />
      <span class="fcontrol__invalid-flag">This field is required</span>
   </div>
   <div class="form-group text-right">
      <button class="btn btn-primary">{% trans "Login" %}</button>
   </div>
</form>

{% url "ui.contact" as url_contact %}
{% url "ui_account.pwreset" as url_pwreset %}
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p>
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a>
{% endcomment %}
{% blocktrans trimmed %}
<p class="general__p">If you do not already have an account, please <a href="{{ url_contact }}">contact us</a></p>
<p class="general__p">If you have forgotten your password, request <a href="{{ url_pwreset }}">a password reset</a></p>
{% endblocktrans %}
{% endblock %}
