{% load layout_extras %}
{% load i18n %}

{% comment  %}
Formatting used for typical inline field for a form that is not repeating
(appears only one time for a given ID as defined by DataCite schema)
{% endcomment %}

<div class="row my-2">
   <label for="{{ field.id_for_label }}" class="text-primary col-md-2">{{ field.label }}</label>
   <div class="col-md-10 form-group">
      {% if polygon and polygon_view == "view" %}
      {{ field|add_attributes:"class:form-control"}}
      {% elif polygon and polygon_view == "edit" %}
      {{ field|add_attributes:"class:form-control"}}
      {% else %}
      {{ field|add_attributes:"form-control"}}
      {% endif %}
      {% if field.errors %}
      <span class="fcontrol__invalid-flag">
         {% for error in field.errors %}
         {{ error|escape }}
         {% endfor %}
      </span>
      {% endif %}
      {% if polygon %}
      <div class="fcontrol__textarea-caption">
         {% if polygon_view == "edit" %}
         {%trans "Edit polygon representation as is, or replace with GeoJSON or KML formatted text." %}
         {% else %}
         {%trans "Paste in GeoJSON or KML formatted text." %}
         {% endif %}
         {% help_icon "polygonhelp" _("on entering formatted text for a Geolocation Polygon") %}
      </div>
      {% endif %}
   </div>
</div>