{% load layout_extras %}

{% comment  %}
Formatting used for typical inline ***select*** field for a form that is not repeating
(appears only one time for a given ID as defined by DataCite schema)
{% endcomment %}

<div class="row">
   <label for="{{ field.id_for_label }}" class="col-md-2 text-primary">{{ field.label }}</label>
   <div class="col-md-10 form-group">
      {{ field|add_attributes:"form-control"}}
      {% if field.errors %}
      <span class="fcontrol__invalid-flag">
         {% for error in field.errors %}
         {{ error|escape }}
         {% endfor %}
      </span>
      {% endif %}
   </div>
</div>