{% load layout_extras %}

{% comment  %}
Formatting used for typical inline textarea for a form that is not repeating
{% endcomment %}

<div class="form-group row">
   <label for="{{ field.id_for_label }}" class="col-sm-6 col-form-label text-primary">{{ field.label }}</label>
   <div class="col-sm-6">
      {{ field|add_attributes:"form-control"}}
      {% if field.errors %}
      <span class="fcontrol__invalid-flag">
         {% for error in field.errors %}
         {{ error|escape }}
         {% endfor %}
      </span>
      {% endif %}
   </div>
</div>