{% load layout_extras %}
{% load i18n %}
<div class="row vertical-buffer"></div>

<div class="container-fluid" id="footer-containter" style="padding:0;">

   <footer class="footer bg-primary text-white">

      <a class="footer__logo-link" href="https://www.hesge.ch/heg/" title="{% trans "Haute École de Gestion" %}"><img class="footer__logo" src="/static/images/logoHEG.jpg" alt="{% trans "Haute École de Gestion" %}"></a>

      <div class="footer__news">
         {% if feed_cache %}
         <div>
            <p class="footer__news-title">{% trans "Find us on Twitter" %}</p>
         </div>
         <div class="text-center my-3">
            <a class="footer__icon-link" href="https://twitter.com/ARKetype_ch" title="Twitter"><img class="footer__icon" src="/static/images/iconTwitter.svg" alt="Twitter"></a>
         </div>
         {% endif %}
      </div>
      <div class="footer__icons"></div>
      {% host_based_include "includes/localized/_/footer_fineprint.html" %}
   </footer>
</div>
