{% load layout_extras %}
{% load menus %}
<nav class="navbar navbar-expand-lg navbar-light">
   <p class="navbar-brand"><span class="badge bg-danger text-light">ALPHA</span> This is a new service - <a href="/contact">your feedback</a> will help us to improve it.</p>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <a class="navbar-brand" href="/">
      <img src="/static/images/logoArketype.png" alt="" width="256" height="30">
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
         {% if authenticatedUser %}
         {% autoescape off %}
         {% menu_user menu_item user.is_superuser %}
         {% endautoescape %}
         {% else %}
         {% autoescape off %}
         {% menu_pub menu_item session %}
         {% endautoescape %}
         {% endif %}
      </ul>
      <span class="navbar-text">
         {% if authenticatedUser %}
         Welcome {{ authenticatedUser.username }}!
         <form action="/logout" role="form">
            <button class="btn btn-light text-primary" aria-label="Logout">Logout</button>
         </form>
         {% else %}
         <button id="js-header__loginout-button" class="btn btn-light text-primary" aria-label="Login" data-toggle="modal" data-target="#exampleModal">Login</button>
         {% endif %}
         {% include "includes/login-modal.html" %}
      </span>
   </div>
</nav>
