{% load layout_extras %}
{% load menus %}

<!--<div class="header__admin-text">
   &nbsp;
   {% if authenticatedUser %}
   Welcome {{ authenticatedUser.username }}!
   {% endif %}
</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <a class="navbar-brand" href="/">
      <img src="/static/images/logoIncipit-white.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
         {% if authenticatedUser %}
         {% autoescape off %}
         {% menu_user menu_item session %}
         {% endautoescape %}
         {% endif %}
      </ul>
      <span class="navbar-text">
         {% if authenticatedUser %}
         Welcome {{ authenticatedUser.username }}!
         <form action="/logout" role="form">
            <button class="btn btn-info btn-incipit" aria-label="Logout">Logout</button>
         </form>
         {% else %}
         <button id="js-header__loginout-button" class="btn btn-info btn-incipit" aria-label="Login">Login</button>
         {% endif %}
         {% include "includes/login-modal.html" %}
      </span>
   </div>
</nav>