{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "Announcement" %}{% endblock %}{% endblock %}
{% block javascript %}

{% endblock %}

{% block heading %}{% autoescape off %}{% content_heading _("Announcement") %}{% endautoescape %}{% endblock %}
{% block content %}
<div class="container">
   <div class="card">
      <img src="/static/images/news/ama_20210127.png" class="card-img-top" alt="ama_meeting_picture">
      <div class="card-body">
         <h5 class="card-title">Ask Me Anything</h5>
         <h6 class="card-subtitle mb-2 text-muted">January 27th, 2021</h6>
          <p class="card-text">We will present our new service ARKetype.</p>
          <a href="#" class="btn btn-primary">Register</a>
      </div>
   </div>
</div>


{% endblock %}
