{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}
{% block title %}{% block title-twitter %}{% trans "Contact Us" %}{% endblock %}{% endblock %}
{% block description %}{%trans "Contact ARKetype for more information about our services or ask a specific question." %}{% endblock %}
{% block heading %}{% autoescape off %}{% content_heading _("Contact Us") %}{% endautoescape %}{% endblock %}
{% block content %}
{% comment %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<p>{% trans "TESTING: Welcome to our page. Language: " %}{{ LAGUAGE_CODE }}</p>
{% endcomment %}

{% comment %}
This tag forces language:
{% language 'fr_CA' %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<p>{% trans "TESTING: Welcome to our page. Language: " %}{{ LANGUAGE_CODE }}</p>
{% endlanguage %}
{% endcomment %}

<p class="general__note text-primary">{% trans "Have a question, comment, or want to request an ARKetype account? Fill out this form and we will get in touch with you." %}</p>

<form name="contact" action="{% url "ui.contact" %}" method="post" class="general__form" role="form">
   {{ form.non_field_errors }}
   <input type="hidden" name="url" value="">
   {% for field in form %}
   {% if field|fieldtype == "TextInput" or field|fieldtype == "EmailInput" %}
   {% include "includes/_inlinetext.html" with field=field form_name="general__" %}
   {% elif field|fieldtype == "Textarea" %}
   {% include "includes/_inlinetextarea.html" with field=field form_name="general__" %}
   {% elif field|fieldtype == "Select" %}
   {% include "includes/_inlineselect.html" with field=field form_name="general__" %}
   {% elif field|fieldtype == "CheckboxInput" %}
   {% include "includes/_inlinecheckbox.html" with field=field form_name="general__" %}
   {% endif %}
   {% endfor %}
   <div class="form-group row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
         <button class="btn btn-primary">{% trans "Submit" %}</button>
      </div>
   </div>

</form>

{% endblock %}
