{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}EZID {% trans "Home" %}{% endblock %}{% endblock %}
{% block description %}{%trans "EZID service creates long-term identifiers and is a key component for keeping data and digital objects safe while fulfilling grant requirements for data management plans." %}{% endblock %}
{% block javascript %}
var imageURLs = [
'homeHero_01.jpg', 'homeHero_02.jpg', 'homeHero_03.jpg', 'homeHero_04.jpg',
'homeHero_05.jpg', 'homeHero_06.jpg', 'homeHero_07.jpg', 'homeHero_08.jpg',
'homeHero_09.jpg'
];
function getImageTag() {
var img = '/static/images/';
var randomIndex = Math.floor(Math.random() * imageURLs.length);
img += imageURLs[randomIndex];
return img;
}
{% endblock %}
{% block content %}
<div class="heading__primary-container">
   <h1 class="heading__primary-text">Incipit: The Swiss option for creating ARKs</h1>
</div>
<!-- Home Banner -->
<!--
    <div class="home-banner">
      <div class="home-banner__lead-container">
      <div class="home-banner__lead">
        <p class="home-banner__lead-text">{% trans "Create and manage long-term globally unique IDs for data and other sources using Incipit" %}</p>
        <a href="{% url "ui_home.learn" %}" class="home-banner__lead-button">{% trans "Learn More" %}</a>
      </div>
      </div>
    </div>
   -->
<div class="home__identifier-container">

   <div class="home__identifier-form">
      <form id="create_form" action="{% url "ui_home.index" %}" method="post">
         <div class="row">
            <div class="text-primary fieldset-inline__legend">{% trans "Create an identifier" %}</div>
         </div>
         <div class="row">
            <input type="hidden" name="current_profile" id="current_profile" value="{{current_profile.name}}" />
            {% for p in prefixes %}
            <input id="{{p.prefix}}" type="hidden" value="{{p.prefix}}" name="shoulder">
            {% endfor %}
         </div>

         <div class="row">
            <div class="col">
               <div class="row">
                  {{ form.non_field_errors }}
                  <div class="col">
                     {% for field in form %}
                     <div class="fcontrol__group-stacked{% if field.errors %}--invalid{% endif %} w-50">
                        {% if field|fieldtype == "TextInput" %}
                        <label for="{{ field.id_for_label }}" class="fcontrol__text-label-hidden">{{ field.label }}</label>
                        {{ field|add_attributes:"fcontrol__text-field-stacked" }}
                        {% else %}
                        <label for="{{ field.id_for_label }}" class="fcontrol__select-label-hidden">{{ field.label }}</label>
                        {{ field|add_attributes:"fcontrol__select" }}
                        {% endif %}
                        {% if field.errors %}
                        <span class="fcontrol__invalid-flag">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
                        {% endif %}
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col text-right">
               <a href="{% url "ui_demo.advanced" %}" class="btn btn-secondary text-white m-1">{% trans "Advanced" %}</a>
               <button class="btn btn-primary text-white m-1">{% trans "Create" %}</button>
            </div>
         </div>
         <div class="row">
            <span>
               <b>NOTE: </b> This demo only creates temporary identifier!
               {% if not authenticatedUser %}
               <br>
               To create a real one, please <a href="/contact"> request an account</a>.
               {% endif %}
            </span>
         </div>
      </form>
   </div>
</div>
<script type="text/javascript">
   // Load random hero image
   var rImg = "url(" + getImageTag() + ")";
   $(".home-banner").css({
      "backgroundImage": rImg
   });

   // ToDo: Load different fields depending on ID type
   $(document).ready(function() {
      toggleIdFields();
      //Whenever ID type changes
      $(".id_type_button").change(function() {
         toggleIdFields();
      });
   });

   function toggleIdFields() {
      if ($("#ark\\:\\/99999\\/fk4").is(':checked')) {
         $("#home_demo_ark").show();
         $("#home_demo_doi").hide();
      } else {
         $("#home_demo_ark").hide();
         $("#home_demo_doi").show();
      }
   }
</script>

<script type="text/javascript" src="/static/javascripts/simple_create.js"></script>
<script type="text/javascript" src="/static/javascripts/fix_target.js"></script>
{% include "info/popup_help.html" %}
<script type="text/javascript" src="/static/javascripts/help_box_.js"></script>
{% endblock %}