{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load manage_form_tags %}
{% load i18n %}

{% block title %}{% trans "Your ARKs" %}: {{ total_results_str }}{% endblock %}
{% comment %}Heading hidden, only readable by screen readers{% endcomment %}
{% block heading %}{% autoescape off %}{% content_heading _("ARKs Management") %}{% endautoescape %}{% endblock %}
{% block javascript %}
$(document).ready(function(){
$("#manage__keywords").focus();
$("#reset_search").click(function(e){
$("#manage-form").find('input[type="text"], input[type="password"], input[type="file"], input[type="search"], select, textarea').val('');
$("#manage-form").find('input[type="radio"], input[type="checkbox"]').removeAttr('checked').removeAttr('selected');
});
});
{% endblock %}
{% block content %}
<div class="container">
{% include "search/_results.html" with primary_page="ui_manage.index" %}
</div>
<script type="text/javascript" src="/static/javascripts/readmoreless.js"></script>
{% include "info/popup_help.html" %}
<script type="text/javascript" src="/static/javascripts/help_box_.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      // Hide header on Manage page always. It just adds too much information on an already full page.
      $('.heading__primary-container').hide();
   });
</script>
{% endblock %}
